#header {
	color:white;
	background-image:url("../../media/images/BandeauNumeriqueAccueil2013.png");
	background-repeat: no-repeat;
	height: 60px;
	background-size: 100% 100%, auto auto;
	padding:1em 1em 0 1em;
}

#header .logo {
	display:inline-block;
}

#header .logo img {
	height:50px;
}

#header .titreEtDescription {
	display:inline-block;
	vertical-align:top;
	margin-left:1em;
	border-left:1px solid white;
	padding-left:1em;
}

#header .span_bigTitre {
	font-size : 2em;
	font-weight: bold;
}

#header .span_titre {
	font-style: italic;
}

#header .span_version {
	font-size: 0.8em;
}

#header .descriptionAppli {
}

#header .span_currentUser {
	float: right;
	font-weight: bold;
}

#body {
	padding:1em;
}

.label {
	text-decoration: underline;
}

.ui-panel {
	margin-top: 1em;
}

/* p:tree */
.ui-tree {
	width: 100%;
}

/* p:contextMenu */
.ui-menu {
	min-width: 16em;
	margin-bottom:1em;
}

/* p:confirmDialog */
.ui-dialog-buttonpane {
	text-align: right !important;
}

/* NEEDS AND ANSWERS */
.Need {
	
}

.Answer {
	color: #2779AA;
}

.Resource {
	
}

/* MY SCENARIOS */
.ui-layout-unit-content {
	padding: 0;
}

.ui-layout-pane {
	min-width: 250px;
	width: 100%;
}

.ui-layout-pane .ui-panel {
	border: 0;
	padding: 0;
	margin:0;
}

td[role=gridcell] .ui-button {
	width: 100%;
}

.ui-button {
	margin: 4px 0;
}

.ui-panelgrid {
	width: 100%;
}

.ui-scrollpanel {
	width: 100%;
}

.ui-layout-center {
	width: 100%;
}

.ui-scrollpanel {
	width: 100%;
	height: 300px;
}

.dialogValidationButton {
	float: right;
}

.ui-inplace-content input {
	width: 500px;
}