.ui-panel {
}

/* p:tree */
.ui-tree {
	width: 100%;
}

/* p:contextMenu */
.ui-menu {
	min-width: 14em;
}

/* p:confirmDialog */
.ui-dialog-buttonpane {
	text-align:right !important;
}

/* NEEDS AND ANSWERS */
.Need {
	
}
.Answer {
	color: #2779AA;
}
.Resource {
	
}

/* MY SCENARIOS */
.ui-layout-unit-content {
	padding:0;
}
.ui-layout-pane {
	min-width:250px;
	width:100%;
}
.ui-layout-pane .ui-panel {
	border: 0;
	padding:0;
}
.ui-layout-pane .ui-button {
	width:100%;
}
.ui-panelgrid {
	width:100%;
}
.ui-scrollpanel {
	width:100%;
}
.ui-layout-center {
	width:100%;
}

.ui-scrollpanel {
	width:100%;
	height:300px;
}
.ui-dialog-content .ui-button {
	float:right;
}