<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Licensed to ESUP-Portail under one or more contributor license agreements. 
	See the NOTICE file distributed with this work for additional information 
	regarding copyright ownership. ESUP-Portail licenses this file to you under 
	the Apache License, Version 2.0 (the "License"); you may not use this file 
	except in compliance with the License. You may obtain a copy of the License 
	at: http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable 
	law or agreed to in writing, software distributed under the License is distributed 
	on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either 
	express or implied. See the License for the specific language governing permissions 
	and limitations under the License. -->
<b:beans xmlns:b="http://www.springframework.org/schema/beans"
	xmlns="http://www.springframework.org/schema/security" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- HTTP security configurations -->
	<http use-expressions="true" auto-config='true' disable-url-rewriting="false">
		<!-- For Spring Security 4.x, we need to disable csrf, otherwise AJAX requests get 403:-->
		<csrf disabled="true"/>
		<intercept-url access="permitAll" pattern="/" /><!-- To permit "/" allows the use of web.xml's <welcome-file> -->
		<intercept-url access="permitAll" pattern="/home" />
		<intercept-url access="permitAll" pattern="/login" />
		<intercept-url access="permitAll" pattern="/pages/exceptions/**" />
		<intercept-url access="permitAll" pattern="/javax.faces.resource/**" />
		<intercept-url access="permitAll" pattern="/resources/**" />
        <intercept-url access="permitAll" pattern="/j_spring_security_check"/>
		<intercept-url access="hasRole('ROLE_ADMIN')" pattern="/administration/**" />
		<intercept-url access="isAuthenticated()" pattern="/**" />
		<logout logout-url="/logout" logout-success-url='/home' />
		<form-login login-page='/login'
			username-parameter="j_username"
			password-parameter="j_password"
			login-processing-url="/j_spring_security_check"
			authentication-failure-url="/login?auth=fail"
			default-target-url="/home"  />
	</http>

	<!-- Configure Authentication mechanism -->
	<authentication-manager alias="authenticationManager">
		<authentication-provider ref="${authentication.provider}" />
	</authentication-manager>

	<b:bean name="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

	<b:bean id="daoAuthProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<b:property name="userDetailsService">
			<b:bean class="eu.ueb.acem.services.auth.DaoUserDetailsService">
				<b:property name="domainService" ref="domainService" />
			</b:bean>
		</b:property>
		<b:property name="passwordEncoder" ref="bcryptEncoder" />
	</b:bean>

</b:beans>
