<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Spring Security configuration for database authentication -->	
	<beans profile="auth-manual">
		<import resource="security/applicationContext-security-manual.xml" />
	</beans>

	<!-- Spring Security configuration for CAS authentication -->
	<beans profile="auth-cas">
		<import resource="security/applicationContext-security-cas.xml" />
	</beans>

	<!-- Spring Security configuration for SAML authentication -->
	<beans profile="auth-saml">
		<import resource="security/applicationContext-security-saml.xml" />
	</beans>

</beans>
