<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd">
	<!--
		/properties/applicationContext.xml The main Spring configuration file.
		This file should not be modified but by the developers. This file is
		referenced by /webapp/WEB-INF/web.xml.
	-->

	<import resource="classpath*:META-INF/ACEM-domain-services-context.xml" />

	<context:annotation-config/>

 	<context:component-scan base-package="eu.ueb.acem.web"/>

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/properties/defaults.properties</value>
			</list>
		</property>
	</bean>
	<bean id="app_context" class="org.esupportail.commons.context.ApplicationContextHolder"/>
	
	<import resource="exceptionHandling/exceptionHandling.xml" />
	<import resource="cache/cache.xml"/>
	<import resource="smtp/smtp.xml" />
	<import resource="tags/tags.xml" />
	<import resource="web/controllers.xml" />
	<import resource="web/converters.xml" />
	<import resource="web/beans.xml" />
	
	<!-- Enables the @Scope("view") for Spring's components and controllers -->
	<bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
	    <property name="scopes">
	        <map>
	            <entry key="view">
	                <bean class="eu.ueb.acem.spring.extensions.ViewScope" />
	            </entry>
	        </map>
	    </property>
	</bean>

</beans>
