/*------------------------------------------------------------
Override of Primefaces default css
--------------------------------------------------------------*/
.ui-button {
	margin-right:0.5em;
	margin-top:0.5em;
	margin-bottom:0.5em;
}
.ui-tabs .ui-tabs-nav {
	background:#E6E1E0;
}

.ui-tabs .ui-tabs-nav .ui-state-default:not(.ui-tabs-selected):not(.ui-state-hover)  {
	background:white;
}

.ui-menu .ui-menuitem {
	background-color:#878786;
	margin-right:0.3em;
}
.ui-menu .ui-menuitem .ui-menuitem-text {
	color:white;
	font-weight:bold;
}

/* p:contextMenu */
.ui-menu {
	min-width: 18em;
}

.ui-menubar {
	border:0; /* Remove the border for menu bars */
}

.ui-breadcrumb {
	margin:0 0.3em;
}

.ui-layout-north {
	z-index:20 !important;        /* Let menu be visible over content layout */
	overflow:visible;             /* Let menu be visible over content layout */
	border: none;                 /* Remove the border for north layout (top) */
	padding:0;                    /* Remove the padding for north layout (top) */
}

.ui-layout-north .ui-layout-unit-content {
	overflow:visible;             /* Let menu be visible over content layout */
	padding:0; 	                  /* North layout should not have any padding */
}

.ui-layout-south {
	border: none; /* Remove the border for south layout (footer) */
}

.centeredColumn {
	text-align:center;
}

.ce-panelColumns td {
	vertical-align: top; /* Align panel content to top */
} 

.ui-layout-toggler-west .ui-layout-unit-expand-icon .ui-icon-arrow-4-diag {
	background-position:-32px -16px; /* For west collapsed layout units : show a right arrow to expand */
}
.ui-layout-toggler-east .ui-layout-unit-expand-icon .ui-icon-arrow-4-diag {
	background-position:-96px -16px; /* For east collapsed layout units : show a left arrow to expand */
}
.ui-layout-toggler-north .ui-layout-unit-expand-icon .ui-icon-arrow-4-diag {
	background-position:-64px -16px; /* For north collapsed layout units : show a down arrow to expand */
}
.ui-layout-toggler-south .ui-layout-unit-expand-icon .ui-icon-arrow-4-diag {
	background-position:0px -16px; /* For south collapsed layout units : show a up arrow to expand */
}

.ui-chkbox-box.ui-state-default,
.ui-radiobutton-box.ui-state-default {
	border:1px solid black; /* Darken the border on checkbox and radiobutton */
}

.ui-datatable th[role=columnheader]{
	text-align:left; /* We want the headers of datatables to be aligned left (and not centered) */
}

.ui-editor {
	height:100%;
	box-sizing:border-box;
}
.ui-editor iframe {
	width:100% !important;
	box-sizing:border-box;
}

.notSelectableTree.ui-tree .ui-tree-selectable .ui-treenode-label,
.notSelectableTree.ui-tree .ui-tree-selectable .ui-treenode-icon {
	cursor:default; /* The cursor should be a plain arrow if the treenodes are not selectable */
}

.ui-accordion .ui-accordion-header {
	margin:0.5em 0 0 0;
}
.ui-accordion .ui-accordion-header:first-of-type {
	margin:0 0 0 0;
}
.ui-accordion .ui-accordion-content {
	padding:0; /* Primefaces 5.1 sets a quite large padding for the content of accordions */
}
