/**********/
/* COMMON */
/**********/
* {
	padding:0;
	margin:0;
}

html {
	font-family: "lucida grande",tahoma,lucide,Arial,sans-serif;
}

.ui-layout-north > .ui-widget-header:first-of-type,
.ui-layout-south > .ui-widget-header:first-of-type,
.ui-layout-center > .ui-widget-header:first-of-type {
	background: url("../resources/images/BandeauNumeriqueAccueil2013.png") no-repeat scroll 100% 100% #03132C;
}

/*
.app-header {
	color:white;
	background-image:url("../resources/images/BandeauNumeriqueAccueil2013.png");
	background-repeat: no-repeat;
	background-size: 100% 100%, auto auto;
	padding:1em;
}

.app-header .logo {
	display:inline-block;
	width:60px;
	border-right:1px solid white;
}

.app-header .logo img {
	height:50px;
	padding-right:1em;
}

.app-header .titreEtDescription {
	display:inline-block;
	vertical-align:top;
	margin-left:1em;
}

.app-header .span_bigTitre {
	font-size:2em;
	font-weight: bold;
}

.app-header .span_titre {
	font-style: italic;
}

.app-header .span_version {
	font-size: 0.8em;
}

.app-header .descriptionAppli {
}

.app-header .span_currentUser {
	float: right;
	font-weight: bold;
}
*/
.section-title {
	font-weight:bold;
	color:#2B558B;
	font-size:1.1em;
	margin-top:1em;
}

/***********/
/* DIALOGS */
/***********/
.dialogValidationButton {
	float: right;
}

/********/
/* HOME */
/********/
.presentationPanelGrid {
	border:0;
}

.presentationPanelGrid tr[role=row] {
	border:0;
}

.presentationPanelGrid td[role=gridcell] {
	vertical-align:top;
	border:0;
}

.pagesDescriptionsPanelGrid {
	width:400px;
}

.pagesDescriptionsPanelGrid * {
	border:0;
	background-color:white;
}

.presentationPanelGrid .introduction_text {
	display:block;
	padding-top:8px;
	font-size:1.3em;
}

.pageIllustration {
	
}

.circularExplanationImg {
	max-width:635px;
	width:90%;
	display:block;
	margin:auto;
	padding:1em;
}

.label {
	text-decoration:underline;
	display:block;
	width:160px;
}

/***************************/
/* PEDAGOGICAL ADVICE TREE */
/***************************/
.Need {
}

.Answer {
	color:#2779AA;
}

.pedagogicalAdviceTree {
	width:100%; /* The pedagogical tree must fill its container horizontally */
	box-sizing: border-box;
	border:0;
}

.pedagogicalAnswerDetailsPanel {
	border:0;
}

/****************/
/* MY SCENARIOS */
/****************/
.userScenariosPanel .ui-widget-content[role=row],
.userScenariosPanel .ui-panelgrid-cell[role=gridcell] {
	border:0;  /* The panel grid containing the list of all scenarios and create/delete buttons should not have any border */
}

.ui-datatable tbody td.userScenariosScrollPanelColumn {
	border:0; /* The list of all scenarios has only one column so the column doesn't need a border */
}

.selectedScenarioPanel {
	border:0;
}

.selectedScenarioPropertiesPanelGrid .ui-widget-content,
.selectedScenarioPropertiesPanelGrid .ui-panelgrid-cell {
	border:0; /* The panel grid containing the selected scenario properties should not have any border */
}

.selectedScenarioActivitiesDataTable .ui-datatable-header {
	text-align:left;
	margin-top:0.5em;
}

.selectedScenarioEvaluationModesPanel {
	margin-top:0.5em;	
}

/************/
/* MY TOOLS */
/************/
.toolCategoriesOutputPanel {
	width:100%; /* The categories should use all the page width */
	text-align:center; /* There should be the same amount of space left and right of the list of categories */
}

.toolCategoryMenuEntry {
	text-decoration:none;
	text-align:center;
	display:inline-block;
	vertical-align:top;
	margin-bottom:0.5em;
}

.toolCategoryMenuEntry:hover .toolCategoryIcon {
	box-shadow:none;
}

.toolCategoryMenuEntry.ui-state-active {
	border:0;
	background:none;
}

.toolCategoryMenuEntry.ui-state-active .toolCategoryLabel {
	background-color:#061C36;
	border-radius:6px;
}

.toolCategoryMenuEntry.ui-state-active .toolCategoryIcon {
	box-shadow:none;
	width:110px;
}

.toolCategoryLabel {
	display:block;
	font-weight:bold;
	padding:0.5em 0;
	width:180px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
}

.toolCategoryIcon {
	width:80px;
	max-width:130px;
	display:block;
	margin:auto;
	box-shadow:3px 3px 3px #999;
}

.categoriesTree {
	border:0;
}

.selectedToolCategoryPanel,
.selectedToolCategoryPanel table[role=grid],
.selectedToolCategoryPanel tr[role=row],
.selectedToolCategoryPanel td[role=gridcell] {
	border:0;	
}

.toolImg {
	vertical-align:bottom;
	margin-left:1em;
	display:block;
	width:250px;
}
.toolIcon {
	vertical-align:middle;
	display:inline-block;
	margin-left:1em;
}

.favoriteToolCategory {
	display:block;
	margin-top:0.5em;
	width:100%;
	font-weight:bold;
}

.favoriteToolCategoryCheckbox {
	vertical-align:middle;
	margin-right:0.5em;
}

.resourcesDataTableActionsPanel {
	border:0;	
}
.resourcesDataTableActionsPanel .ui-panel-content {
	padding-left:0;
}

.bottomToolboxPanel {
	width:100%;
	display:flex;
}

.favoriteToolCategoriesPanel {
	box-sizing: border-box;
	padding:0;
	margin:0;
	width:100%;
	padding-right:1em;
	border:0;
}

.favoriteToolCategoriesPanel .ui-panel-content {
	display:flex;
}

.lastViewedToolCategoriesPanel {
	box-sizing: border-box;
	padding:0;
	width:50%;
	padding-left:1em;
}

/***************/
/* MY SERVICES */
/***************/
.selectedServicePanel {
	border:0;
}

/***********************************/
/* COMMON LIST ALL TOOL CATEGORIES */
/***********************************/ 
.toolCategoryLogo {
	display:block;
	margin:auto;
}

.toolCategoryDescriptionPanelGrid,
.toolCategoryDescriptionPanelGrid tr[role=row],
.toolCategoryDescriptionPanelGrid tr[role=row] td[role=gridcell] {
	border:0;
}

/***********************/
/* ADMIN ORGANISATIONS */
/***********************/
.organisationLogo {
	display:block;
	margin:auto;
}

.administrationAccordionPanel .ui-accordion-content {
	padding:0;
}

.organisationPanelGrid .ui-panelgrid-cell {
	vertical-align:top;
}

.organisationPanelGrid > tbody > .ui-widget-content[role=row] > .ui-panelgrid-cell {
	border:0;
}

.organisationPanelGrid .ui-panelgrid-cell:first-of-type {
	vertical-align:middle; /* We suppose that the first cell contains the organisation logo and center it vertically
	                          because with CSS you cannot set a property on a parent that has a specific child */
}

.associatedOrganisationsPanelGrid .ui-panelgrid-cell {
	padding-top:0;
}

.associatedOrganisationsPanelGrid .ui-panelgrid-cell:first-of-type {
	vertical-align:top; /* We override the previous rule so that it doesn't apply to inner datatables
	                       because with CSS, children always inherit, even when you don't want to */
}

.associatedOrganisationsPanelGrid > tbody > .ui-widget-content[role=row],
.associatedOrganisationsPanelGrid > tbody > .ui-widget-content[role=row] > .ui-panelgrid-cell[role=gridcell] {
	border:0;
	padding-left:0;
}

.associatedOrganisationsDataTable {
	margin-top:0.5em;
}

.iconPanel {
	border:0;
}
